.login__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-width: 600px;
	margin: auto;
}

.login__heading {
	text-align: center;
	margin-bottom: 50px;
}

.login__heading h1 {
	margin: 15px 0;
}

.login__wrapper label {
	display: block;
	margin-bottom: 15px;
}

.login__wrapper > div {
	width: 100%;
	padding: 0 50px;
}

.login__wrapper input {
	border: none;
	border-radius: 4px;
	border: 1px solid #4f4f4f;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
	color: #4f4f4f;
	padding: 0 18px;
	font-size: 14px;
	width: 100%;
	height: 55px;
	margin-bottom: 20px;
}

.login__wrapper button {
	border: none;
	background: #111;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 40px;
	height: 55px;
	width: 100%;
}

.login__wrapper a {
	color: grey;
}

.login__wrapper p {
	text-align: center;
}
